ai-progg/sentdex

.vscode

*.marius-UX305UA

*.meta

ai-progg/asgn1/netsaver/my_saved_session-0\.index

*.pyc

ai-progg/asgn1/data/__MACOSX/

ai-progg/asgn1/data/mnist-zip/

ai-progg/asgn1/netsaver/

ai-progg/asgn1/probeview/

ai-progg/asgn1/tutor3\.py

ai-progg/asgn1/tflowtools\.py

ai-progg/asgn3/models_5x5/

ai-progg/asgn3/models_5/

ai-progg/asgn3/models_2/

ai-progg/asgn3/models/

ai-progg/asgn3/models_5x5_v2/
